.h3 {
    color: white;
}

.p{
    color: white;
}

.carousel-item {
    text-align: center;
    margin-top: 15rem;

}
/* carousel.css */

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  top: 50%; /* Adjust the value as needed to move the arrows down */
}
